html {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: white;
}

#start {
    position: absolute;
    top: 90px;
    /*margin-left: 150px;*/
    background-color: #4a4948;
    width: 35vw;
    height: 135px;
}

#start h1 {
    font-family: 'Fjalla One', sans-serif;
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
    padding-left: 195px;
}

#click {
    position: absolute;
    top: 345px;
    /*margin-left: 150px;*/
    width: 20vw;
    height: 125px;
}

#click h5 {
    font-family: 'Fjalla One', sans-serif;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    padding-left: 65px;
}

#toast {
    position: absolute;
    top: 300px;
    margin-left: 200px;
    animation-name: toastdance;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transition: all 500ms cubic-bezier(0.950, 0.050, 0.795, 0.035);
}

#toast img {
    width: 15vw;
}

#toast img:hover {
    opacity: .5;
}

#toaster {
    position: absolute;
    top: 550px;
    margin-left: 100px;
}

#toaster img {
    width: 29vw;
}

#head {
    position: absolute;
    top: 48px;
    right: 10vw;
}

#inside {
    position: absolute;
    top: 48px;
    right: 10vw;
    display: none;
}

#one {
    position: absolute;
    top: 250px;
    z-index: 1;
    width: 25vw;
    margin-left: 225px;
    display: none;
}

#one h1 {
    color: #fdc364;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: -5px;
    /*margin-left: 100px;*/
}

#one p {
    color: white;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

#two {
    position: absolute;
    top: 400px;
    z-index: 1;
    width: 25vw;
    margin-left: 225px;
    display: none;
}

#two h1 {
    color: #fdc364;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: -5px;
    /*margin-left: 100px;*/
}

#two p {
    color: white;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

#epiglottis {
    position: absolute;
    top: 525px;
    z-index: 1;
    width: 25vw;
    margin-left: 225px;
    display: none;
}

#epiglottis h1 {
    color: #fdc364;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: -5px;
    /*margin-left: 100px;*/
}

#epiglottis p {
    color: white;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

#three {
    position: absolute;
    top: 850px;
    z-index: 1;
    width: 25vw;
    margin-left: 370px;
}

#three h1 {
    color: #fdc364;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: -5px;
    /*margin-left: 100px;*/
}

#three p {
    color: white;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

#peristalsis {
    position: absolute;
    top: 1300px;
    z-index: 1;
    width: 25vw;
    margin-left: 370px;
}

#peristalsis h1 {
    color: #fdc364;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: -5px;
    /*margin-left: 100px;*/
}

#peristalsis p {
    color: white;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

#sphincter {
    position: absolute;
    top: 1660px;
    z-index: 1;
    width: 35vw;
    margin-left: 370px;
}

#sphincter h1 {
    color: #fdc364;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: -5px;
    /*margin-left: 100px;*/
}

#sphincter p {
    color: white;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

#acid {
    position: absolute;
    top: 2102px;
    margin-left: 45.9vw;
}

#pancreas {
    position: absolute;
    top: 2190px;
    margin-left: 35vw;
}

#pancreas img {
    width: 45vw;
}

#liver {
    position: absolute;
    top: 1800px;
    margin-left: 200px;
}

#liver img {
    width: 42vw;
}

#four {
    position: absolute;
    top: 1863px;
    z-index: 1;
    width: 25vw;
    margin-left: 600px;
}

#four h1 {
    color: #fdc364;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: -5px;
    /*margin-left: 100px;*/
}

#four p {
    color: white;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

#five {
    position: absolute;
    top: 2050px;
    z-index: 1;
    width: 18vw;
    margin-left: 150px;
}

#five h1 {
    color: #fdc364;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: -5px;
    /*margin-left: 100px;*/
}

#five p {
    color: white;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

#accesory {
    position: absolute;
    top: 2285px;
    z-index: 1;
    width: 20vw;
    margin-left: 70px;
}

#accesory h1 {
    color: #fdc364;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: -5px;
    /*margin-left: 100px;*/
}

#accesory p {
    color: white;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

#si {
    position: absolute;
    top: 2890px;
    z-index: 1;
    width: 38vw;
    margin-left: 550px;
}

#si h1 {
    color: #fdc364;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: -5px;
    /*margin-left: 100px;*/
}

#si p {
    color: white;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

#si ol li {
    color: white;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

#li {
    position: absolute;
    top: 3980px;
    z-index: 1;
    width: 20vw;
    margin-left: 450px;
}

#li h1 {
    color: #fdc364;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: -5px;
    /*margin-left: 100px;*/
}

#li p {
    color: white;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

#colon {
    position: absolute;
    top: 4450px;
    z-index: 1;
    width: 20vw;
    margin-left: 400px;
}

#colon h1 {
    color: #fdc364;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: -5px;
    /*margin-left: 100px;*/
}

#colon p {
    color: white;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

#rectum {
    position: absolute;
    top: 5100px;
    z-index: 1;
    width: 26vw;
    margin-left: 250px;
}

#rectum h1 {
    color: #fdc364;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: -5px;
    /*margin-left: 100px;*/
}

#rectum p {
    color: white;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

#anus {
    position: absolute;
    top: 5250px;
    z-index: 1;
    width: 26vw;
    margin-left: 860px;
}

#anus h1 {
    color: #fdc364;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: -5px;
    /*margin-left: 100px;*/
}

#anus p {
    color: white;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

#final {
    position: absolute;
    top: 5570px;
    z-index: 1;
    width: 22vw;
    margin-left: 155px;
}

#final h1 {
    color: #fdc364;
    font-size: 35px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: -5px;
    /*margin-left: 100px;*/
}

#final p {
    color: white;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
}

#toast2 {
    position: absolute;
    top: 450px;
    margin-left: 68.5vw;
    display: none;
}

#toast2 img {
    width: 4vw;
}

#toast3 {
    position: absolute;
    top: 1300px;
    margin-left: 67vw;
    z-index: 1;
}

#toast3 img {
    width: 8vw;
}

#toast4 {
    position: absolute;
    top: 2039px;
    margin-left: 66vw;
}

#toast4 img {
    width: 10vw;
}

#toast5 {
    position: absolute;
    top: 2750px;
    margin-left: 29vw;
}

#toast5 img {
    width: 8vw;
}

#toast6 {
    position: absolute;
    top: 3555px;
    margin-left: 45vw;
}

#toast6 img {
    width: 13vw;
}

#toast7 {
    position: absolute;
    top: 4500px;
    margin-left: 83vw;
}

#toast7 img {
    width: 10vw;
}

#turd {
    position: absolute;
    top: 5150px;
    margin-left: 54vw;
}

#turd img {
    width: 7vw;
}

#toast8 {
    position: absolute;
    top: 5500px;
    margin-left: 49vw;
}

#toast8 img {
    width: 18vw;
}

#gi {
    position: absolute;
    top: 700px;
    right: -.1vw;
    padding-right: 31px;
    display: none;
}

#toilet {
    position: absolute;
    top: 5530px;
    right: 18vw;
}

#toilet img {
    width: 40vw;
}

/*RESTART BUTTON*/
.btn {
    background: white;
    width: 24vw;
    height: 45px;
    border-radius: 28px;
    font-family: 'Fjalla One', sans-serif;
    color: #fdc364;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-style: none;
    position: absolute;
    top: 5780px;
    right: 65vw;
}

.btn:hover {
    background: indianred;
    text-decoration: none;
}


/*#stomach{
	position: absolute;
	top:1670px;
	right:7.3vw;
	display: none;
}
#duodenum{
	position: absolute;
	top:2468px;
	right:61.6vw;
	display:none;
}
#ileum{
	position: absolute;
	top:2470px;
	right:10.1vw;
	display:none;
}*/

/*BACKGROUND IMAGES*/
.parallax-window {
    position: relative;
    width: 100vw;
    background: transparent;
    z-index: -98;
}

.parallax-window img {
    top: -100px;
    width: 100vw;
    height: 104vh;
    z-index: -98;
}

.background {
    position: relative;
    top: -3675px;
    width: 100vw;
    z-index: -100;
}

.background img{
    width: 100vw;
}

.bottom {
    top: -4239px;
    position: relative;
    width: 100vw;
    z-index: -90;
}

.bottom img{
    width: 100vw;
}

/*SPINNING TOAST ANIMATION*/
@keyframes toastdance {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(90deg);
    }
    75% {
        transform: rotate(135deg);
    }
    100% {
        transform: rotate(180deg);
    }
